@import "./post-mobile.css";

#container{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 10vh 70vh 8vh ;
    grid-template-areas: 'title title title'
                          'menu main about'
                          'footer footer footer';
    grid-row-gap: 6vh;
}
h3{
    margin-bottom:0;
}

#side-box{
    grid-area: menu;
}
body{
    margin:0;
}
#body{
    grid-area: main;
    overflow-y: scroll;
}
#about{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
    background: linear-gradient(lavender 5%, lavender 5%, #eee 100%, lavender 50%);
    background-color: linear-gradient(lavender);
}
#title{
    grid-area: title;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background: linear-gradient( gray,white);
}


nav{
    width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border: 2px solid;
    border-style: outset;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

#footer{
    grid-area: footer;
    background: linear-gradient( white,gray);
}
#footer>h3{
    margin-left: 15px;
    font-size: 1.2em ;
}
#about{
    grid-area: about;
  
}
#about > img{
    
   width:7vw;
}
#photo{
    height: 0.5vh;
    margin-top: 10px;
}
#about-text>{
    margin-top:50px;
}
#about-text>p{
    height: 20vh;
    /* padding:15px; */
    
    text-align: justify;
}
#about-text>p>span{
 font-weight: bold;
}
#social>img{
    height: 50px;
}
#flex-container{
    display: flex;

}
.text{
    text-align: justify;
    font-size: 18px;
}
.center{
    text-align: center;
}
